@model User

<div class="container">
    <form asp-action="AddUser" method="post">
        <div class="row">
            <div class="col-md-4">
                <label for="Name">Name</label>
                <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" required />
            </div>
            <div class="col-md-4">
                <label for="Email">Email</label>
                <input id="Email" type="email" class="form-control" name="Email" value="@Model.Email" required />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    Add New User
                </button>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary" href="@Url.Action("Search", "User")">
                    Back to Search
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </form>
</div>

